:root {
    --color-primary: #ee3425;
    --color-primary-1: #ee3425;
    --color-primary-2: #ee3425;
    --color-secondary: #fbdc00;
    --color-secondary-1: #ebbe00;
    --color-secondary-5: #fff;
    --font-color: #434343;
    --font-color-heading: #000;
    --font-color-link: var(--color-primary);
    --font-family: "PT Sans",sans-serif;
    --font-family-heading: "Ubuntu",sans-serif;
    --font-size-xl: 18px;
    --font-size-lg: 16px;
    --font-size-md: 14px;
    --font-size-sm: 12px;
    --font-size-xs: 10px;
    --line-height: 1.5;
}
body {
    font-family: var(--font-family);
    font-size: var(--font-size-md);
    line-height: var(--line-height);
    color: var(--font-color);
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}
*{
    box-sizing: border-box;
}
.nott{
    position: relative;
    top: 0;
    z-index: 1010;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 36px;
    background-color: #ee3425;
}
.popups{
    display: flex;
    flex: 1 1;
    align-self: center;
    justify-content: center;
}
.booktoday{
    color: #fbdc22;
    font-weight: bold;
    margin-left: 6px;

}
.text000{
    /*font-weight: bold;*/
    color: #fff;

}
.styles_cross__5Alky {
    display: flex;
    align-self: center;
    width: 20px;
    height: 20px;
    margin-right: 60px;
    cursor: pointer;
}

.navbar {
    padding-left: 5%;
    background-color:#fbdc00;
}

.navbar .navbar-nav{
    position:absolute;
    left: 25%;
}
.navbar .form-inline{
    position: absolute;
    right: 5%;
}
.btn{
    border-radius: 10px;
}
.next{
    height: 100%;
}
.next2{
    box-sizing: border-box;
    display: block;
}
.s1{
    width: 1200px;
    display: flex;
    align-items: center;
    height: 392px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px
}
.block1{
    position: relative;
    width: 100%;
    background: url(https://cdn.cogoport.io/cms-prod/cogo_public/vault/original/home-banner-background-1.webp);
    background-color: #fbdc00;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}
.gethead{
    font-family: "Ubuntu Bold";
    font-weight: 900;
}
.c1{
    font-family: "Ubuntu";
    /*font-weight: 100;*/
}
h1{
    font-size: 40px;
    line-height: 1.2;
    margin-top: 0;
    font-weight: bolder;
    color: #000;
}
.a1{
    flex: 1 1;
}
.c1{
    margin-bottom: 20px;
}
.c2{
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: #000;
}
.video1{
    display: flex;
    flex: 1 1;
    width: 595px;
    height: 400px;
    margin-bottom: -39px;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.country{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h2st{
    color: #ee3425;
    font-weight: bolder;
    margin-bottom: 5px;
    font-size: 40px;
    line-height: 1.2;
    margin-block-start: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}

.h6st{
    font-weight:bold;
}
.num{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    padding: 50px 0;
}

.spacing{
    height: 100px;
    width: 100%;
    background-color: white;
}
.block4{
    margin-top: 40px;
   /* width: 100%;
    margin-top: 40px;
    height:50vh;
    padding-left:50px;
    padding-right:50px;*/
    background-color:#fffef2;
}
.abc000{
    display: flex;
    align-items: center;
    padding: 16px;
}
.text1{
    font-family: "Ubuntu Bold";
    font-size: 40px;
    font-weight: 900;
}
.text2{
    font-family: "Ubuntu";
    font-weight: lighter;
}
.map1{
    flex: 1 1;

}
.map2{
    display: flex;
    flex: 1 1;
    justify-content: flex-end;
}
.image1{
    display: block;
    width: 500px;
    object-fit: contain;
    height: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}
/*.map1{
    padding-left:150px;
    padding-right: 50px;
    padding-top:15vh;
    width: 50%;
}*/
.Products{
    text-align: center;

}
.styles_find__zT3eI, .ic-m-arrow_next_svg__ic_m_arrow_next{
    color: #ee3425;
}

h3 {
    font-size: 28px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 10px;
}
.block5{
    margin-left: auto;
    margin-right: auto;
    background: #fffef2;
}
.prods{
    display: flex;
    justify-content: space-between;
    
}
.abc1{
    display: flex;
    flex-direction: column;
}
.abc2{
    display: flex;
    align-items: center;
    margin: 14px 0;
}
.prod1{
    width: 300px;
    margin-right: 50px;
    font-size: 24px;
    color: #000;
}
.styles_card_icon__Jt_3H {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.styles_card_icon__Jt_3H a {
    text-decoration: none;
}
a {
    color: #ee3425;
}
.styles_card__hpklv {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 184px;
    height: 160px;
    padding: 10px 7px;
    margin: 10px;
    background: #fff;
    border: 1.5px solid transparent;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(169,188,218,.65);
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.styles_add_more__5vDZp {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    margin: 10px;
    font-weight: 700;
    cursor: pointer;
}
.styles_name__OTyeY {
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.3em;
    text-align: center;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #000;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
.block6{
    margin-bottom: 50px;
}
.trust{
    text-align: center;
    margin-bottom: 1em;
    font-family: "Ubuntu Bold";
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin:10px;
}
.block7{
    margin-bottom: 50px;
    background-color:#fbdc00;
}
.abc3{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}
.text3{
   /* margin-block-start: 1em;
    margin-block-end: 1em;*/
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    /*margin-bottom: 10px;*/
    padding: 25px 0;
}
.getstarted{
    border: 1px solid #ee3425;
    min-width: 72px;
    height: 36px;
    padding: 4px 16px;
    color: #fff!important;
    background: var(--color-primary)!important;
    border-radius: 4px;
    outline: none;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-family: var(--font-family);
    justify-content: center;
    line-height: 1.2;
}
.abc4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.text4{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bars{
    display: flex;
    justify-content: space-between;
    font-family: "Ubuntu";

}
.btns{
    width: 200px;
    padding: 20px;
    margin: 0 20px;
    color: #000;
    border-radius: 20px;
    min-width: 72px;
    height: 36px;
    background-color:#fbdc00;
    border:#fbdc00;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    line-height: 1.2;
    font-size: 14px!important;
    font-weight: 700!important;
}
.btnswhite{
    width: 200px;
    padding: 20px;
    margin: 0 20px;
    color: #000;
    border-radius: 20px;
    min-width: 72px;
    height: 36px;
    background-color:#e5dfdf!important;
    border:grey!important;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    line-height: 1.2;
    font-size: 14px!important;
    font-weight: 700!important;
}
.indus{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}
.block9{
    padding: 16px!important;
    margin-bottom: 50px;
    background: #fffef3;
}
.block10{
    margin-bottom: 50px;
}
.abc10{
    display: flex;
    align-items: center;
    padding: 16px 100px!important;
    margin-left: auto;
    margin-right: auto;

}
.h2{
    font-size: 40px;
    line-height: 1.2;
}
.text10{
    display: block;
    flex: 1 1;
}
.getbtn{
    display: inline-block;
    height: 40px;
    padding: 8px 42px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: #ee3425;
    border-radius: 8px;
}
.img10{
    display: flex;
    flex: 1 1;
    justify-content: flex-end;
}
.pic10{
    display: block;
    -o-object-fit: contain;
    object-fit: contain;
    animation-name: styles_bounce__6VcwD;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    width: 280px;
    aspect-ratio: auto 280 / 360;
    height: 360px;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.block11{
    display: block;
    margin-bottom: 50px;
}
.img11{
    position: relative;
    height: 450px;
    cursor: pointer;
}
.pic11{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow-clip-margin: content-box;
    overflow: clip;
    aspect-ratio: auto 1232 / 450;
}
.playbtn{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.4);
}
.playbtnn{
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 60px;
    height: 60px;
    margin-bottom: 8px;

}
.abc11{
    background:#ee3425;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}
.betget{
    background:#ee3425;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    width: 1200px;
}
.text11{
    
    display: block;
    padding: 25px 0;
    color: #fff;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 16px;
}
.growfaster{
    margin-bottom: 10px;
}
.knowmore{
    border: 1px solid #ee3425;
    color: #000!important;
    background: #fbdc00!important;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-family: var(--font-family);
    justify-content: center;
    line-height: 1.2;
    font-size: 14px!important;
    font-weight: 700!important;
    height: 36px;
}
.block12{
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    display: block;
}
.abc12{
    display: flex;
    flex-direction: column;
}
.blogs{
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    font-family: "Ubuntu";
}
.blog1{
    width: calc(calc(100% / 3) - 20px);
    margin-right: 10px;
    margin-bottom: 40px;
    margin-left: 10px;
    overflow: hidden;
    text-align: start;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 3px 6px hsla(0,0%,79%,.5);
    display: block;

}
.blogimg{
    display: block;
    width: 100%;
    height: 200px;
    background-color: #fbdc00;
    object-fit: cover;
    overflow-clip-margin: content-box;
    overflow: clip;

}
.text12{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 16px;
    text-align: start;

}
.redname{
    margin-bottom: 5px;
    font-size: 16px!important;
    color: #ee3425;
    margin-top: 0;
}
h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.blackbold{
    margin-bottom: 5px;
    font-size: 18px;
    color: #000!important;
    margin-top: 0;
}
.lighttext{
    max-height: calc(1.4rem * 3);
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 1em;
}
.read{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.readmore{
    display: flex;
    align-items: center;
    font-weight: 700;
    color:#ee3425;
    cursor: pointer;
}
.dates{
    margin-bottom: 5px;
    font-size: 14px!important;
    color: #9a9a9a;
    margin-top: 0;
}
.viewall{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Ubuntu";
}
.viewbtn{
    min-width: 72px;
    height: 36px;
    color: #fff;
    background-color: #ee3425;
    border: 1px solid #ee3425;
    width: fit-content;
    padding: 8px 42px!important;
    font-size: 14px!important;
    font-weight: 700!important;
    border-radius: 4px;
    outline: none;
}
.block13{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    margin-top: 20px;
    background-color: #fbdc00;
}
.img13{
    width: 20%;
    padding: 20px;
    margin: 20px;
    display: block;
}
.bulbimg{
    width: 100%;
    height: 100%;
    aspect-ratio: auto 200 / 163;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.text13{
    display: block;
}
.dont{
    font: 16px;
    font-family: "Ubuntu";
}
.newsletter{
    margin-bottom: 0px;
    font-family: "Ubuntu Bold";
}
.getemail{
    margin-top: 20px;
    font-family: "Ubuntu";
}
.getborder{
    display: flex;
}
.subscribe{
    color: #fff;
    background-color: #ee3425;
    border: 1px solid #ee3425;
    width: 120px!important;
    height: 40px!important;
    text-align: center;
    text-decoration: none;
    background: #ee3425;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.getemail input[type=email]{
    box-sizing: border-box;
    display: inline-block;
    width: 250px;
    height: 40px;
    padding: 10px;
    border: 2px solid transparent;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    writing-mode: horizontal-tb !important;
}
.lists{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 0 50px 50px;
    font-family: var(--font-family);
    background: #fbdc00;
    font-family: "Ubuntu";
}
.itemss{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

}
.details{
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: underline;

}
.def{
    display:flex;
    flex-direction: column;
}
.def2{
    display: block;
    margin: 8px 0;
}
.def3{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 8px;
    font-size: 14px;
}
.text15{
    display: block;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    font: size 14px;
}
.places{
    display: block;
    font-family: "Ubuntu";
}
.transport{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 0;
    background-color: #ebbe00;

}
.part1{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
.cities{
    width: fit-content;
    line-height: 2rem;
    color: #000;
    text-decoration: none;
    font-size: 14px;

}
.footer{
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 30px;
    background: #ebbe00;
    font-family: "Ubuntu";
}
.footer1{
    display: flex;
    align-items: center;
}
.textf{
    display: flex;
    margin-left: 10px;
    font-family: var(--font-family-heading);
    font-size: 12px;
    font-weight: 700;
    list-style-type: none;
}
.textf1{
    display: flex;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 700;
    list-style-type: none;
    margin-bottom: auto;
    color: #000;

}
.textf2{
    margin-right: 5px;
    cursor: pointer;
}
.styles_bottom_footer_right__l_rTH, .styles_globe_container__JLFJo {
    display: flex;
    align-items: center;
}
.styles_lang__N_yGq {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    background: transparent;
    border-radius: 8px;
}
.styles_globe_container__g_at6 {
    display: flex;
    align-items: center;
}
.styles_selected_lang__aePh2 {
    font-size: 15px;
    font-weight: 700;
    color: #ee3425;
    text-decoration: underline;
}
.styles_social_media__kHOsn {
    padding: 8px 30px;
}
a {
    color: black;
    text-decoration: none;
}
.block2, .block3, .block8, .block12, .block10{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /*padding: 16px;
    text-align: center;*/
}
.s1, .abc000, .abc5, .abc3, .abc9{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.abc6{
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 120px;
    overflow-x: hidden;
}
.sponsors{
    display: flex;
    animation: styles_marquee__9MLPj 32s linear infinite;
}
.partnerimg{
    display: flex;
    flex-shrink: 0;
    gap: 0.1rem;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
}
.abcd{
    height: 73px;
    width: 146px;
}
.partnerimg{
    display: flex;
    /* animation: carousel-animation 3s linear infinite; */
    animation: carousel-animation 2s linear infinite;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: carousel-animation;
    row-gap: 0.1rem;
    column-gap: 6rem;
    margin-right: 40px;
    margin-left: 40px;
    width: 146px;
    aspect-ratio: auto 146 / 73;
    height: 73px; 
}
@keyframes carousel-animation {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-100%);
    }
}
.comp{
    position: relative;
    display: flex;
    font-family: "Ubuntu";
}
.first{
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(169,188,218,.65);
}
.box1{
    margin-bottom: 120px;
}
.efg1{
    font-weight: 600;
    color: #ee3425;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 1em;
}
.efg2{
    display: flex;
    align-items: center;
    padding: 0 0 10px;
    margin: 0;
    list-style-position: outside;
    font-size: 20px;
    font-weight: 600;

}
.efg3{
    display: flex;
    padding-bottom: 5px;
    padding-left: 8px;
    margin: 0;
    font-size: 16px;
}
.arw1{
    top: 104px;
    left: 300px;
    position: absolute;
}
.arrow1{
    width: 150px;
    aspect-ratio: auto 150 / 59;
    height: 59px;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.arw2{
    bottom: 116px;
    left: 300px;
    position: absolute;
}
.secondpart{
    display: flex;
    align-items: center;
    justify-content: center;
}
.compimg{
    width: 560px;
    height: 320px;
    aspect-ratio: auto 560 / 320;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.arw3{
    top: 104px;
    right: 300px;
    position: absolute;
}
.third{
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(169,188,218,.65);
}
.arw4{
    right: 300px;
    bottom: 116px;
    position: absolute;
}
.first span, .third span{
    display: flex;
    font-size: 16px;
}
.styles_form__VJHjP {
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu";
}
.styles_label__BYVfM {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: #000;
}
.styles_controller_wrapper__filnK {
    display: flex;
    margin-top: 5px;
}
.styles_user_input__7Ry_v {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.styles_select_controller__6Yi60 {
    width: 110px;
    min-width: 110px;
}
.ui_select_container.ui_ps_size_md .ui_select_display_container {
    height: 40px;
}
.styles_select_controller__6Yi60 .ui_select_display_container {
    height: 41px!important;
    border: 1px solid #e0e0e0!important;
    border-right: none!important;
    border-radius: 20px!important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    outline: none!important;
}
.ui_4WsFV {
    cursor: pointer;
    display: flex;
    overflow: hidden;
    padding: 0;
}
.ui_0dtIh, .ui_lGCcT {
    align-items: center;
    background-color: var(--color-secondary-5);
    display: flex;
}
.ui_0dtIh {
    border: none;
    cursor: pointer;
    flex-grow: 0;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    padding: 8px 12px;
    width: 100%;
}
.styles_select_controller__6Yi60 .ui_select_input_control {
    padding-left: 26px;
}
.ui_tNl3D {
    background-color: transparent;
    border: none;
    border-radius: 0;
    display: block;
    flex: 1 1;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    outline: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.ui_lGCcT {
    padding-right: 16px;
}
.ui_0dtIh, .ui_lGCcT {
    align-items: center;
    background-color: var(--color-secondary-5);
    display: flex;
}
.styles_whatsapp_icon__Vyo1M {
    position: absolute;
    top: 10px;
    left: 12px;
    width: 20px;
    height: 20px;
}
.styles_controller_input_mobile__Bcb0_ {
    box-sizing: border-box;
    width: 100%;
    min-height: 41px!important;
    padding-right: 100px;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-left: none!important;
    border-radius: 20px!important;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    outline: none!important;
}
.styles_get_started_btn__CzkWR {
    position: absolute;
    top: 8px;
    right: 12px;
    width: 90px;
    padding: 2px 4px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background: #36bb22;
    border: 1px solid #36bb22;
    border-radius: 12px;
}
button {
    font-family: var(--font-family);
    font-size: 14px!important;
    font-weight: 700!important;
}
.ui_WXQuE {
    position: relative;
    width: 100%;
}
.styles_select_controller__6Yi60 .ui_select_options_container {
    max-height: 200px!important;
}
.ui_97JkZ .ui_zgufM {
    background-color: #fff;
    display: none;
}
.ui_zgufM {
    background-color: var(--color-secondary-5);
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(98,127,172,.2);
    display: block;
    left: -1px;
    list-style-type: none;
    margin: 0;
    max-height: 300px;
    overflow: scroll;
    padding: 8px 12px;
    position: absolute;
    right: -1px;
    top: 4px;
    z-index: 1;
}
@font-face {
    font-family: "Ubuntu";
    src: url("https://db.onlinewebfonts.com/t/1c5965c2b1dcdea439b54c3ac60cee38.eot");
    src: url("https://db.onlinewebfonts.com/t/1c5965c2b1dcdea439b54c3ac60cee38.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1c5965c2b1dcdea439b54c3ac60cee38.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/1c5965c2b1dcdea439b54c3ac60cee38.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/1c5965c2b1dcdea439b54c3ac60cee38.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/1c5965c2b1dcdea439b54c3ac60cee38.svg#Ubuntu")format("svg");
}
@font-face {
    font-family: "Ubuntu Bold";
    src: url("https://db.onlinewebfonts.com/t/e0008b580192405f144f2cb595100969.eot");
    src: url("https://db.onlinewebfonts.com/t/e0008b580192405f144f2cb595100969.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/e0008b580192405f144f2cb595100969.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/e0008b580192405f144f2cb595100969.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/e0008b580192405f144f2cb595100969.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/e0008b580192405f144f2cb595100969.svg#Ubuntu Bold")format("svg");
}
.block2, .block3, .block5, .block6, .block7, .block9, .block10, .block11
{
    font-family: "Ubuntu Bold";
}